<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social  Networking Ads</title>
</head>
<body>

    <div>
        <form action="/result" method="POST">
            <label for="Age">Age</label>
                <input type="text" id="age" name="age">
                <br>

            <label for="EstimatedSalary">Estimated Salary</label>
                <input type="text" id="EstimatedSalary" name="estimatedsalary">
                <br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>

